<launch>
    <arg name="visual" default="true" />
    <arg name="model" default="$(find hex_ros_urdf_trigger_a)/urdf/model.urdf"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <group if="$(arg visual)" >
        <node name="rviz" pkg="rviz" type="rviz" required="true" 
              args="-d $(find hex_ros_urdf_trigger_a)/config/ros1/display.rviz"/>
    </group>
</launch>
